body {
    padding-bottom: 20px;
  }
  
  .navbar {
    margin-bottom: 20px;
  body {
    padding-bottom: 20px;
  }
  
  .navbar {
    margin-bottom: 20px;
  }

  #bgI {
    background-image: url(images/heading-pages-02.jpg);
  }